<% provide(:title, @title) %>
<div id="margin-fix" class="container">
	<div class="row">
		<aside class="col-md-4">
			<section>
				<h3>
					<%= gravatar_for @user %>
					<%= @user.name %>
					<span><%= link_to "view my profile", @user %></span>
      				<span><b>Restaurants:</b> <%= @user.restaurants.count %></span>
				</h3>
				
			</section>
			<section>
      			<%= render 'shared/followers_stats' %>
      			
    		</section>
		</aside>

		<div class="col-md-8">
			<% if @users.any? %>
					<h1><%= @title %></h1>
        			<div class="user_avatars top-margin">
        				
          				<% @users.each do |user| %>
            			<p><%= link_to gravatar_for(user, size: 30), user %> <%= user.name %></p>
          				
          				<% end %>
        			</div>
      			<% end %>
		</div>	
	</div>
</div>