<% provide(:title, @title) %>
<div id="margin-fix" class="container">
	<div class="row">
		<aside class="col-md-4">
			<section>
				
					<%= gravatar_for @user %>
					<h1><%= @user.name %></h1>
					<span><%= link_to "View my profile", @user %></span>
      				<h4><span>Restaurants: <%= @user.restaurants.count %></span></h4>
					<%= render 'shared/followers_stats' %>
				
			</section>
			
		</aside>

		<div class="col-md-8">
			<% if @users.any? %>
					<h1><%= @title %></h1>
        			<div class="user_avatars top-margin">
        				
          				<% @users.each do |user| %>
            			<p><%= link_to gravatar_for(user, size: 30), user %> <%= user.name %></p>
          				
          				<% end %>
        			</div>
      			<% end %>
		</div>	
	</div>
</div>