<% provide(:title, @user.name) %>
<div id="margin-fix" class="container">
	<div class="row">
		<aside class="col-md-4">
			<section>
				<h3>
					<%= gravatar_for @user %>
					<%= @user.name %>
				</h3>
			</section>
		</aside>

		<div class="col-md-8">
			<% if @user.restaurants.any? %>
			<h3>Reccomendations (<%= @user.restaurants.count %>)</h3>
			<ol class='recomendations'>
				<%= render @restaurants %>
			</ol>
			<%= will_paginate @restaurants %>
			<% end %>
		</div>	
	</div>
</div>

