<% provide(:title, @title) %>
<div id="margin-fix" class="container">
	<div class="row">
		<aside class="col-md-4">
			<section>
				<h3>
					<%= gravatar_for @user %>
					<%= @user.name %>
					<span><%= link_to "view my profile", @user %></span>
      				<span><b>Restaurants:</b> <%= @user.restaurants.count %></span>
				</h3>
				
			</section>
			<section>
      			<%= render 'shared/followers_stats' %>
      			<% if @users.any? %>
        			<div class="user_avatars">
          				<% @users.each do |user| %>
            			<%= link_to gravatar_for(user, size: 30), user %>
          				<% end %>
        			</div>
      			<% end %>
    		</section>
		</aside>

		<div class="col-md-8">
			
		</div>	
	</div>
</div>