<% provide(:title, @user.name) %>
<div id="margin-fix" class="container">
	<div class="row">
		<aside class="col-md-4">
			<section>
				<h3>
					<%= gravatar_for @user %>
					<%= @user.name %>
				</h3>
				<%= render 'shared/followers_stats' %>
			</section>
		</aside>

		<div class="col-md-8">
			<%= render 'follow_form' if signed_in? %>
			<% if @user.restaurants.any? %>
			<h3>My Reccomendations (<%= @user.restaurants.count %>)</h3>
			<ol class='recomendations'>
				<%= render @restaurants %>
			</ol>
			<%= will_paginate @restaurants %>
			<% end %>
		</div>	
	</div>
</div>

