<h2> Results: <%= @query %></h2>

<ol class="recomendations">
	<% @response['results'].each do |r| %>

			<%=form_tag('/restaurant_add') do %>

	<li>
		<span class="business_name"><%= r['name'] %></span>
		<span class="business_info"><%= r['formatted_address'] %></span>
			<%= hidden_field_tag 'restaurant_id', r['reference'] %>
			<%= submit_tag "Add", class: "btn btn-primary" %>
			<% end %>
	</li>
	<% end %>
</ol>

