<% if signed_in? %>
<div id="margin-fix" class="container">
	<div class="row">
		<div class="col-md-4">
			<aside>
			<section>
				<%= render 'shared/user_info' %>
				<%= render 'shared/followers_stats' %>
			</section>
			<section>
				<%= render 'shared/restaurant_add_form' %>
			</section>
			<aside>
		</div>
		<div class="col-md-8">
			
			<% if @query != nil %>
            	<%= render 'shared/query_return' %>
         	<% end %>

         	<% if @restaurant_id != nil %>
         		<%= render 'shared/restaurant_add_edit_form' %>
         	<% end %>
         	
			<h1>Restaurants Reccomendations</h1>
			<%= render 'shared/feed' %>	
		</div>
	</div>
</div>
<% else %>
<!-- headerwrap Home Page -->
<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
  				<h1>My Foodie Circle</h1>
 				 <h2>Finally, a restaurant review service you can trust!</h2>
  				<p><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>
  			</div>	
  		</div>
  	</div>	
</div> <!-- End Headerwrap -->

	<!--About section -->
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<p><%= image_tag('restaurant.png', :size => "50x50", :alt => "Restaurant Icon") %></p>
					<h1>This site is still in development</h1>
					<h2>For a sneek peak, please log in with demo@demo.com and password demo123</h2>
					<h4>My Foodie Circle is about finding restaurants based on people you know.</h4>
					<p>When visiting other sites, anybody can log on and review a restaurant. The problem is everybody is different.  Just because one person doesn't like it, doesn't mean that it is a bad restaurant. So, are you suppose to take the words of complete strangers? No, instead use this app to connect with your friends and find local restaurants that you will want to try.  Instead of relying on a bunch of anaymouse reviewers, you can trust the recommendations you get here, because they are from your friends.</p>
				</div>
			</div>
		</div>
	</div> <!-- End About Section -->


	<!-- News Section-->
	<div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
				<p><%= image_tag('user.png', :size => "50x50", :alt => "User Icon") %></p>
				<h4>My Foodie Circle is all about you.</h4>
				<p>The user is what drives My Foodie Circle. When you are you at a restaurant and you want to reccomend it, just get on and use a the search restaurants nearby feature to find the restaurant.  From there you can add a note to let you friends know what to get and why you loved it.  If for some reason the restaurant is not listed you can easily add it.  This service is all about connecting you with reliable information. </p>
			<p><br/><br/></p>
			</div>
			
		</div>
	</div><!-- End News Section -->
<% end %>
    



