<li>
	<span class="business_name"><%= restaurant.name %></span>
	<span class="category">Type: <%= restaurant.category %></span>
	<span class="business_info"><%= restaurant.address %> <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.postal %></span>
	<span class="phone"><%= restaurant.phone %></span>
	<span class="timestamp">Posted <%= time_ago_in_words(restaurant.created_at) %> ago.</span>
	<% if current_user?(restaurant.user) %>
		<%= link_to "delete", restaurant, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: restaurant.name %>
    <% end %>
</li>